@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
*{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 2rem;
    background-color: dimgray;
}